.bar{
     width: 10px;
     background-color: crimson;
     display: inline-block;
     margin: 0 1px;
     vertical-align: top;
}

.canvas{
    margin: auto;
    text-align: center;
    padding: 4px;
}